/* ========= Global CSS =========== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

font-family: 'Open Sans';


}

.container{

    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    
}

.cta-btn{

    background-color: #fd6e0a;
    border: 0;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
}

.cta-btn:hover{
    color: white;
    transition: all 0.25s ease-in-out;
}


/* ============================= */


/* ============ Header + Nav ============ */

header{
    position: relative;
    background-color: #fff8f3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-size:53%;
    background-position:right 0% bottom 0%;
    
}

nav{

    padding: 30px 0;
    z-index: 999;

}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style: none;
}

ul li{

    
}

ul li a{

    text-decoration: none;
    color: #474747;
    font-size: 20px;

}

ul li a:hover{

    
    color: #000;
    transition: all 0.25s ease-in-out;

  

}

/* ===== Header + Nav Ends ======== */



/* ====== Hero Section ========== */


.hero{
   
    padding: 80px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    

}

.hero-content {

    width:50%;

}

.hero-greeting {

    color: #474747;
    font-size: 45px;
    font-weight: 500;
    line-height: 1.2em;

}

.hero-name{

    font-size: 85px;
    font-weight: 700;
    line-height: 1.2em;
    color: #181818;
    margin-bottom: 25px;

}

.hero-subtext{

    font-size: 20px;
    font-weight: 400;
    color: #757575;
    line-height: 1.5em;
    padding-right: 100px;

}

.hero-btn-container{
    margin-top: 30px;
}



.contact-btn {

    background-color: transparent;
    border: 1px solid #fd6e0a;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    color: #fd6e0a;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 20px;

}

.contact-btn:hover{

    border: 1px solid #181818;
    color: #181818;
    transition: all 0.25s ease-in-out;

}



.hero-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-img img {
    width: 100%;
    max-width: 550px;
    display: block;
    margin-bottom: 0;
}

/* vertical developer image */

.dev-img {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 90px;
    z-index: 1;
}



.dev-img img {
    width: 100%;
}

/* ====== Hero Section Ends ========== */


/* ========== About Section ============= */

#about-section{

    padding: 100px 0;

}

.about-row {

    background-color: #fff8f3;
    padding: 80px 150px;
    border-radius: 10px;
    text-align: center;
    
}

.about-row-text h2{

    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #181818;
}

.about-row-text p{

    font-size: 20px;
    color: #757575;
    line-height: 1.5em;


}

.about-row-info{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;


}

/* ========== About Section Ends ============= */



/* ========== Skill Section ============= */

#skill-section{

    padding: 30px 0px;

}

.skill-section-heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.skill-section-heading h2{


    font-size: 35px;
    font-weight: 700;
    line-height: 1.2em;
    color: #181818;

}

.skill-section-heading p{
font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    color: #757575;
    width: 80%;
    
}

.skill-box-container{

    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;

}

.skill-box {

    background-color: #fff8f3;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px #181818;
    
}

.skill-box img {

    margin-bottom: 20px;
    
}

.skill-box h3 {
    margin-bottom: 10px;
    color: #181818;
    font-size: 20px;
    line-height: 1.2em;

}

.skill-box p{
    
    color: #757575;
    font-size: 18px;
    line-height: 1.5em;
    
}



/* ========== Skill Section Ends ============= */




